# SQL Server connection string
DATABASE_URL="sqlserver://localhost;instanceName=MSSQLSERVER02;database=QuanLyTapHoa;user=sa;password=1;encrypt=true;trustServerCertificate=true"

JWT_SECRET="thay-bang-chuoi-bi-mat-dai-it-nhat-32-ki-tu"
JWT_EXPIRES_IN="7d"

PORT=8080
NODE_ENV=development
